doctype html
html(lang="en")
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		meta(name="viewport", content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width, minimal-ui")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="black")

		//- facebook meta
		meta(property="og:site_name", content="SimpleTemplate")
		meta(property="og:title", content="SimpleTemplate")
		meta(property="og:description", content="your website")
		meta(property="og:type", content="website")
		meta(property="og:url", content="")
		meta(property="og:image", content="")

		title Golem
		// build:css css/main.css
		link(rel='stylesheet', href='css/main.css')
		// endbuild
	body
		.topBar
		.bottomBar
		.loader
		//- .vignette
		// build:js js/vendor.js
		// bower:js
		
		// endbower
		script(type='text/javascript', src='vendors/Oimo.js')
		// endbuild

		// build:js js/main.js
		script(type='text/javascript', src='js/core/3d/Stage3d.js')
		script(type='text/javascript', src='js/core/3d/Physics.js')
		script(type='text/javascript', src='js/core/scenes/Scene.js')
		script(type='text/javascript', src='js/core/scenes/SceneTraveler.js')

		script(type='text/javascript', src='js/golem/loaders/ShaderLoader.js')
		script(type='text/javascript', src='js/golem/Data.js')
		script(type='text/javascript', src='js/golem/scenes/LoaderScene.js')
		script(type='text/javascript', src='js/golem/scenes/MainScene.js')
		script(type='text/javascript', src='js/golem/scenes/TestLightScene.js')
		script(type='text/javascript', src='js/golem/scenes/TestSkeletonScene.js')
		script(type='text/javascript', src='js/golem/scenes/TestTreeScene.js')
		script(type='text/javascript', src='js/golem/3d/Temple.js')
		script(type='text/javascript', src='js/golem/3d/Light.js')
		script(type='text/javascript', src='js/golem/3d/LightAura.js')
		script(type='text/javascript', src='js/golem/3d/Smoke.js')
		script(type='text/javascript', src='js/golem/3d/Source.js')
		script(type='text/javascript', src='js/golem/3d/Light.js')
		script(type='text/javascript', src='js/golem/3d/Attractor3d.js')
		script(type='text/javascript', src='js/golem/3d/Stone.js')
		script(type='text/javascript', src='js/golem/3d/Forest.js')

		script(type='text/javascript', src='js/main.js')
		// endbuild